// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "near-white" ;
$sidebarBgColor: "light-gray" ;
$textColor: "navy" ;
$sidebarTextColor: "navy" ;
$headlineColor: "navy" ;
$headingColor: "navy" ;
$bodyLinkColor: "light-purple" ;
$navLinkColor: "light-purple" ;
$sidebarLinkColor: "light-purple" ;
$footerTextColor: "navy" ;
$buttonTextColor: "navy" ;
$buttonBgColor: "light-purple" ;
$buttonHoverTextColor: "navy" ;
$buttonHoverBgColor: "light-purple" ;
$borderColor: "navy" ;
